body {
    font-family: 'Noticia Text', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #eba4bb;
    color: rgb(245, 231, 231);
    padding: 12px;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
    font-size: 20px; 
}

.nav-link:hover {
    color: #817e7e;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

main {
    padding: 32px; 
    text-align: center;
}

.info-link {
    text-decoration: none;
    color: #c03b6e;
    font-weight: bold;
    transition: 0.3s;
}

.info-link:hover {
    color: #eba4bb;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
    font-size: 18px; 
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.section {
    width: 50%;
    border-top: 3px solid #eba4bb;
    padding-top: 16px; 
    margin-top: 16px; 
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

.section-profile {
    text-align: center;
    padding: 8px; 
}

.section-title.main-title {
    background-color: transparent;
    color: #161314;
}

.section-profile-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 16px; 
}

.section-title {
    font-size: 28px; 
    background-color: #f5bdd0;
    color: white;
    padding: 8px 32px; 
    margin: 0 8px; 
    border-radius: 15px;
    text-align: center;
}

.section-list {
    list-style-type: none;
    padding-left: 24px;
    padding-right: 25px;
}

.section-item {
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.section-item span {
    font-weight: 700;
    color: #c03b6e;
}

.section-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #ebadc2;
    border-radius: 50%;
}

.pre {
    margin-left: 20px; 

}

footer {
    background-color: #eba4bb;
    color: #121011;
    text-align: center;
    padding: 16px; 
    width: 100%;
    bottom: 0;
}

.footer-container {
    display: inline-block;
    vertical-align: middle;
}

.nav-link-footer {
    color: #010101;
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.nav-link-footer:hover {
    color: #817e7e;
}

.logo {
    width: 60px;
    height: auto;
    margin-left: 10px;
}
